backports-abc
backports.functools-lru-cache
backports.shutil-get-terminal-size
configparser
cython
enum34
eppy
fiona
funcsigs
ipywidgets
jupyter-console
matplotlib
pathlib2
pyclipper
pylru
pypoly2tri
pyproj
qtconsole
scandir
Shapely
singledispatch
Sphinx
subprocess32
transforms3d
twine
